<!DOCTYPE html>
<html lang="\{\{ SITE_LOCALE \}\}" class="{{ WEB_COMPONENTS_PREFIX }}{% if WEB_COMPONENTS_PREFIX == 'wa-' %}{% else %}theme-{% endif %}\{\{ SITE_THEME \}\}">
  <head>
\{\%- block htmHeadPageLayout \%\}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
\{\%- block htmMetaPageLayout \%\}
\{\%- endblock htmMetaPageLayout \%\}
\{\%- block htmTitlePageLayout \%\}
    <title>\{\{ SITE_DISPLAY_NAME \}\}</title>
\{\%- endblock htmTitlePageLayout \%\}
\{\%- block htmStylesPageLayout \%\}
    <link rel="icon" href="\{\{ STATIC_BASE_URL \}\}/favicon.svg" />
    \{\{ WEB_COMPONENTS_CSS \}\}
{% if WEB_COMPONENTS_PREFIX == 'wa-' %}
{% else %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.20.0/cdn/themes/dark.css" />
{% endif %}
    <link rel="stylesheet" href="\{\{ STATIC_BASE_URL \}\}/css/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
    <link rel="stylesheet" href="\{\{ STATIC_BASE_URL \}\}/css/leaflet.draw.css" />
    <link rel="stylesheet" href="\{\{ STATIC_BASE_URL \}\}/css/leaflet.contextmenu.css"/>
    <link rel="stylesheet" href="\{\{ STATIC_BASE_URL \}\}/css/site.css"/>
\{\%- endblock htmStylesPageLayout \%\}
    <style>\{\%- block htmStylePageLayout \%\}\{\%- endblock htmStylePageLayout \%\}</style>
\{\%- block htmScriptsPageLayout \%\}
\{\%- if FONTAWESOME_KIT is defined \%\}
    \{\{ FONTAWESOME_KIT \}\}
\{\%- endif \%\}
    <script type="module">
{% if WEB_COMPONENTS_PREFIX == 'wa-' %}
{% else %}
      import { registerIconLibrary } from 'https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.20.0/cdn/utilities/icon-library.js';
    
      registerIconLibrary('fa', {
        resolver: name => {
          const filename = name.replace(/^fa[rbs]-/, '');
          let folder = 'regular';
          if (name.substring(0, 4) === 'fas-') folder = 'solid';
          if (name.substring(0, 4) === 'fab-') folder = 'brands';
          console.log(`https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.5.2/svgs/${folder}/${filename}.svg`);
          return `https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.5.2/svgs/${folder}/${filename}.svg`;
        },
        mutator: svg => svg.setAttribute('fill', 'currentColor')
      });
{% endif %}
{% if JAVA_MODELS | length > 0 %}

      function siteSearchInput(event) {
        var filters = [];
        if(event.target.value == '')
          filters.push({ name: 'q', value: '*:*' });
        else
          filters.push({ name: 'q', value: event.target.value ? 'objectSuggest:' + event.target.value : '' });

        fetch(
          '\{\{ USER_SEARCH_URI if userName is defined else PUBLIC_SEARCH_URI \}\}?' + filters.map(function(m) { return m.name + '=' + encodeURIComponent(m.value) }).join('&')
          , {
            headers: {'Content-Type':'application/json; charset=utf-8'}
          }).then(response => {
            if(response.ok) {
              var dropdown = document.querySelector('#siteSearchDropdown');
              var dropdownMenu = document.querySelector('#siteSearchDropdownMenu');
              response.json().then(function(body) {
                dropdownMenu.innerHTML = '';
                body.list.forEach((o) => {
                  var menuItem = document.createElement('{{ WEB_COMPONENTS_PREFIX }}menu-item');
                  menuItem.innerText = o.{{ JAVA_MODELS[0].classeVarTitre_enUS_stored_string }};
                  menuItem.setAttribute('data-href', o.{{ JAVA_MODELS[0].classeVarUrlPageAffichage_enUS_stored_string }});
                  dropdownMenu.appendChild(menuItem);
                  menuItem.addEventListener('click', (event) => window.location.href = event.target.getAttribute('data-href') );
                });
                dropdown.show();
              });
            } else {
              error(response, event.target);
            }
          })
          .catch(response => error(response, event.target));
      }
{% endif %}

      Promise.all([
        customElements.whenDefined('{{ WEB_COMPONENTS_PREFIX }}button')
        , customElements.whenDefined('{{ WEB_COMPONENTS_PREFIX }}input')
      ]).then(() => {
        document.querySelector('#siteSearchInput')?.addEventListener('input', siteSearchInput);
        document.querySelector('#siteSearchInput')?.addEventListener('focus', siteSearchInput);
      });
    </script>
    \{\{ WEB_COMPONENTS_JS \}\}
    <script src="\{\{ STATIC_BASE_URL \}\}/js/site.js"></script>
    <script src="\{\{ STATIC_BASE_URL \}\}/js/sockjs.js"></script>
    <script src="\{\{ STATIC_BASE_URL \}\}/js/vertx-eventbus.js"></script>
    <script src="\{\{ STATIC_BASE_URL \}\}/js/plotly-2.9.0.min.js"></script>
    <script src="\{\{ STATIC_BASE_URL \}\}/js/leaflet.js"></script>
    <script src="\{\{ STATIC_BASE_URL \}\}/js/leaflet.draw.js"></script>
    <script src="\{\{ STATIC_BASE_URL \}\}/js/leaflet.contextmenu.js"></script>
\{\%- endblock htmScriptsPageLayout \%\}
\{\%- block htmScriptPageLayout \%\}
\{\%- endblock htmScriptPageLayout \%\}
\{\%- endblock htmHeadPageLayout \%\}
    <script>
\{\%- block websocketPageLayout \%\}\{\%- endblock websocketPageLayout \%\}
    </script>
   </head>
  <body>

{% if WEB_COMPONENTS_PREFIX == 'wa-' %}
    <{{ WEB_COMPONENTS_PREFIX }}page disable-sticky="header">
{% else %}
    <div id="site-grid">
{% endif %}
\{\%- block htmBodyPageLayout \%\}
\{\%- block htmBodyStartPageLayout \%\}
{% if WEB_COMPONENTS_PREFIX == 'wa-' %}
      <nav class="main-sidebar" slot="navigation">
{% else %}
      <aside id="site-aside-left" class="hide-mobile margin-block-end-1rem ">
        <{{ WEB_COMPONENTS_PREFIX }}button id="site-aside-left-close-button" label="Close" data-drawer="close" class="hide-desktop">
          <i slot="prefix" class="{{ FONTAWESOME_STYLE }} fa-xmark"></i>
        </{{ WEB_COMPONENTS_PREFIX }}button>
        <nav>
{% endif %}
          <div class="display-flex-center ">
            <a href="/">
              <img id="site-aside-left-img-logo" src="\{\{ STATIC_BASE_URL \}\}\{\{ SITE_LOGO_URI \}\}"/>
            </a>
          </div>
{% if WEB_COMPONENTS_PREFIX == 'wa-' %}
{% for JAVA_MODEL in JAVA_MODELS %}
          <{{ WEB_COMPONENTS_PREFIX }}tooltip for="site-aside-left-model-button-{{ JAVA_MODEL.classeNomSimple_enUS_stored_string }}" placement="right" hoist>{{ JAVA_MODEL.classeDescription_enUS_stored_string | e }}</{{ WEB_COMPONENTS_PREFIX }}tooltip>
{% endfor %}
{% endif %}
          <div class="flex flex-column round-row primary-smart-border-radius margin-block">
\{\%- if userName is defined \%\}
            <{{ WEB_COMPONENTS_PREFIX }}details>
              <div slot="summary">
                <{{ WEB_COMPONENTS_PREFIX }}avatar label="user"></{{ WEB_COMPONENTS_PREFIX }}avatar>
                user: \{\{userName\}\}
              </div>
              <div>\{\{ userFullName \}\}</div>
              <div>\{\{ userEmail \}\}</div>
              <{{ WEB_COMPONENTS_PREFIX }}tooltip for="site-button-user-page">see or change your user profile</{{ WEB_COMPONENTS_PREFIX }}tooltip>
              <{{ WEB_COMPONENTS_PREFIX }}tooltip for="site-button-logout" placement="right">sign out</{{ WEB_COMPONENTS_PREFIX }}tooltip>
              <div class="flex flex-column round-row primary-smart-border-radius margin-block">
                <{{ WEB_COMPONENTS_PREFIX }}button id="site-button-user-page"{% if WEB_COMPONENTS_PREFIX == 'wa-' %} variant="brand"{% else %}{% endif %} href="\{\{ SITE_BASE_URL \}\}/en-us/edit/user/\{\{ userId \}\}" label="see or change your user profile">
                  <i slot="prefix" class="{{ FONTAWESOME_STYLE }} fa-house-user"></i>
                  <span>my user page</span>
                </{{ WEB_COMPONENTS_PREFIX }}button>
                <{{ WEB_COMPONENTS_PREFIX }}button id="site-button-logout"{% if WEB_COMPONENTS_PREFIX == 'wa-' %} variant="brand"{% else %}{% endif %} href="\{\{ logoutUrl \}\}" label="sign out">
                  <i slot="prefix" class="{{ FONTAWESOME_STYLE }} fa-person-from-portal"></i>
                  <span>sign out</span>
                </{{ WEB_COMPONENTS_PREFIX }}button>
              </div>
            </{{ WEB_COMPONENTS_PREFIX }}details>
\{\%- else \%\}
            <{{ WEB_COMPONENTS_PREFIX }}button{% if WEB_COMPONENTS_PREFIX == 'wa-' %} variant="brand"{% else %}{% endif %} href="\{\{ SITE_BASE_URL \}\}/en-us/search/user">
              <i class="{{ FONTAWESOME_STYLE }} fa-person-to-portal"></i> login
            </{{ WEB_COMPONENTS_PREFIX }}button>
\{\%- endif \%\}
          </div>
{% if WEB_COMPONENTS_PREFIX == 'wa-' %}
          <div class="flex flex-column round-row primary-smart-border-radius margin-block">
{% for JAVA_MODEL in JAVA_MODELS %}
            <{{ WEB_COMPONENTS_PREFIX }}button{% if WEB_COMPONENTS_PREFIX == 'wa-' %} variant="brand"{% else %}{% endif %} id="site-aside-left-model-button-{{ JAVA_MODEL.classeNomSimple_enUS_stored_string }}" href="\{\{ SITE_BASE_URL \}\}{{ JAVA_MODEL.classeApiUriSearchPage_enUS_stored_string }}">
              {{ JAVA_MODEL.classeIcone_stored_string | default('') }}
              {{ JAVA_MODEL.classeNomAdjectifPluriel_enUS_stored_string }}
            </{{ WEB_COMPONENTS_PREFIX }}button>
{% endfor %}
          </div>
{% else %}
          <div class="flex flex-column round-first-and-last-row-x-large ">
{% for JAVA_MODEL in JAVA_MODELS %}
            <{{ WEB_COMPONENTS_PREFIX }}tooltip placement="right" content="{{ JAVA_MODEL.classeDescription_enUS_stored_string }}">
              <{{ WEB_COMPONENTS_PREFIX }}button{% if WEB_COMPONENTS_PREFIX == 'wa-' %} variant="brand"{% else %}{% endif %} id="site-aside-left-model-button-{{ JAVA_MODEL.classeNomSimple_enUS_stored_string }}" href="\{\{ SITE_BASE_URL \}\}{{ JAVA_MODEL.classeApiUriSearchPage_enUS_stored_string }}">
                {{ JAVA_MODEL.classeIcone_stored_string | default('') }}
                {{ JAVA_MODEL.classeNomAdjectifPluriel_enUS_stored_string }}
              </{{ WEB_COMPONENTS_PREFIX }}button>
            </{{ WEB_COMPONENTS_PREFIX }}tooltip>
{% endfor %}
          </div>
{% endif %}
{% if WEB_COMPONENTS_PREFIX == 'wa-' %}
      </nav>
{% else %}
        </nav>
      </aside>
{% endif %}
      <main>
        <header{% if WEB_COMPONENTS_PREFIX == 'wa-' %} slot="header" class="{{ WEB_COMPONENTS_PREFIX }}flank margin-block-start "{% else %} class="margin-block-start flex gap-m align-items-center"{% endif %}>
          <{{ WEB_COMPONENTS_PREFIX }}icon-button data-toggle-nav name="bars" class="nav-toggle-button hide-desktop " label="open menu" appearance="text"></{{ WEB_COMPONENTS_PREFIX }}icon-button>
          <{{ WEB_COMPONENTS_PREFIX }}input placeholder="search" id="siteSearchInput">
            <i slot="prefix" class="{{ FONTAWESOME_STYLE }} fa-magnifying-glass"></i>
          </{{ WEB_COMPONENTS_PREFIX }}input>
        </header>
        <{{ WEB_COMPONENTS_PREFIX }}dropdown id="siteSearchDropdown" class="display-block ">
          <{{ WEB_COMPONENTS_PREFIX }}menu id="siteSearchDropdownMenu">
          </{{ WEB_COMPONENTS_PREFIX }}menu>
        </{{ WEB_COMPONENTS_PREFIX }}dropdown>
\{\%- endblock htmBodyStartPageLayout \%\}
\{\% block htmBodyMiddlePageLayout \%\}
        <div class="pageContent ">
          put stuff here
        </div>
\{\%- endblock htmBodyMiddlePageLayout \%\}
\{\%- block htmBodyEndPageLayout \%\}
      </main>
      <footer class="flex flex-column round-row primary-smart-border-radius margin-block">
        \{\% if GITHUB_ORG is defined \%\}
        <a href="https://github.com/\{\{ GITHUB_ORG \}\}/\{\{ SITE_NAME \}\}/" target="_blank">
          <{{ WEB_COMPONENTS_PREFIX }}card>
            This site is <b><i class="fa-brands fa-github fa-xl"></i> open source</b>
          </{{ WEB_COMPONENTS_PREFIX }}card>
        </a>
        \{\% endif \%\}
        <a href="https://www.computate.org/" target="_blank" id="footer-generated-by">
          <{{ WEB_COMPONENTS_PREFIX }}card>
              Generated with <b><img class="footer-img" src="\{\{ STATIC_BASE_URL \}\}/svg/computate-keys.svg" alt="Computate"/></b>
          </{{ WEB_COMPONENTS_PREFIX }}card>
        </a>
        \{\% if SITE_POWERED_BY_URL is defined \%\}
        <a href="\{\{ SITE_POWERED_BY_URL \}\}" target="_blank" id="footer-powered-by">
          <{{ WEB_COMPONENTS_PREFIX }}card>
            Powered by <i class="fa-brands fa-redhat fa-xl" style="color: #ff0000;"></i> <b>\{\{ SITE_POWERED_BY_NAME | e \}\}</b>
          </{{ WEB_COMPONENTS_PREFIX }}card>
        </a>
        \{\% endif \%\}
      </footer>
{% if WEB_COMPONENTS_PREFIX == 'wa-' %}
    </{{ WEB_COMPONENTS_PREFIX }}page>
{% else %}
    </div>
{% endif %}
\{\%- endblock htmBodyEndPageLayout \%\}
\{\%- endblock htmBodyPageLayout \%\}
  </body>
</html>
